.left_info .left_info__about {
	width: 100%;
	overflow: hidden;
	height: 15.72vw;
}
.list_r_pr a {
	background: #fff url(../img/masta.jpg) center center no-repeat / cover;
}
.stuf, .you {
	/* width: 11.82vw; */
	width: 11.62vw;
	height: 9.37vw;
	position: relative;
	overflow: hidden;
	margin-right: 1vw;
	margin-bottom: 1vw;
}
.stuf:nth-of-type(3n) {
	margin-right: 0;
}
.stuf a {
	display: flex; 
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: inherit;
	background-color: rgba(45, 184, 185, 0.9);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	font-size: 0.72vw;
}
.stuf a:hover {
	opacity: 1;
}
.stuf img {
	position: absolute;
	top: 0;
	z-index: 0;
}
.stuf h4 {
	font-size: 0.83vw;
}
.you {
	margin-right: 0;
	background-color: #ebebeb;
	display: flex; 
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.you span {
	color: #000;
	background-color: #fff;
	font-size: 1.25vw;
	border-radius: 6px;
	padding: 0.78vw 1vw;
}
.our li {
	display: block;
	margin-bottom: 0.93vw;
	font-size: 0.78vw;
	color: #727272;
}
.our li p:last-of-type {
	color: #000;
}
.prog {
	width: 100%;
	height: 1.77vw;
	border: 1px solid #ececec;
	margin-top: 0.5vw;
}
.pr_bar {
	background-color: #e2e2e2;
	height: inherit;
}
.testimonials .huw {
	width: 100%;
	height: 4.16vw;
	background-color: #1ab5b3;
	color: #fff;
}
.testimonials .huw h3 {
	font-style: italic;
	font-size: 0.78vw;
	font-weight: 400;
	margin-left: 1.25vw;
}
.testimonials .huw img {
	width: 4.16vw;
	height: 4.16vw;
}
.testimonials_text {
	padding: 1.56vw;
	border: 1px solid #ececec;
	color: #a3a3a3;
	font-size: 0.93vw;
	line-height: 1.56vw;
}
.service li {
	font-size: 0.72vw;
	color: #848484;
	margin-bottom: 1vw;
	list-style: disc;
	list-style-position: inside;
}
