aside {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
   box-shadow: 8px 0px 14px 0px rgba(70, 70, 70, 0.55);	
   display: flex; 
	flex-direction: column;
	flex-flow: column nowrap;
}
#logo {
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}
.logo {
	width: 100%;
	/* cursor: pointer; */
}
#main_nav {
	/* padding-top: 5px; */
	/* overflow: hidden; */
}
#main_nav a {
	/* размер по большей грани\высота или ширина  */
	padding-right: 1.25vmax;
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	width: 100%;
	height: 3.22vmax;
	display: flex; 
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #30373b;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
}
#main_nav a:hover {
	background-color: #1ab5b3;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}
#main_nav .active {
	background-color: #1ab5b3;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}
#info_box svg {
	height: 0.88vw;
	fill: #fff;
	margin-right: 0.52vw;
}
#info_box {
	position: fixed;
	right: 0;
	top: 4.68vw;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 1vw 3.85vw 1vw 1vw;
	transform: translateX(100%);
	transition: all 0.35s;
}
#info_box.open {
	transform: translateX(0%);
	transition: all 0.35s;	
}
#info_box li {
	/* font-size: 0.83vmax; */
	font-size: 1vmax;
	display: flex; 
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	line-height: 0.78vmax;
	margin-bottom: 1vw;
	cursor: pointer;
}
#info_box li:last-of-type {
	margin-bottom: 0;
}
#title_filter {
	color: #1ab5b3;
	fill: #1ab5b3;
	font-size: 0.98vmax;
	padding: 1.25vmax;
}
#title_filter svg {
	width: 0.9vmax;
	height: 0.9vmax;
	margin-left: 0.62vmax;
}
#filter li {
	width: 100%;
	text-align: right;
}
#filter a {
	color: #6b7072;
	font-size: 0.67vmax;
	line-height: 1.25vmax;
	padding: 0.41vmax 1.25vmax;
}
#filter a.active {color: #fff;}
#filter a:hover {color: #fff;}

#soc_bar {
	padding: 1.25vmax;
	border-top: 1px solid #1e282b;
	width: 100%;
	margin-top: 1.25vmax;
}
#soc_bar img {
	width: 1.25vmax;
	height: 1.25vmax;
}
#soc_bar a {
	margin-left: 0.52vmax;
}
#soc_bar a:hover {
	transform: scale(1.2);
}
#soc_text {
	font-size: 0.62vmax;
	color: #6b7072;
	text-align: right;
	width: 100%;
	padding-right: 1.25vmax;
}