.blog_wrap {
	background-color: #b4b7b8;
}
.box_post {
	width: 15.31vw;
	/* height: auto; */
	margin-bottom: 1.3vw;
	background-color: #fff;
	overflow: hidden;
	color: #9c9c9c;
	font-size: 0.67vw;
	line-height: 1.14vw;
}
.img_post {
	width: 100%;
	overflow: hidden;
}
.img_post img {
	width: 100%;
	/* height: 120%; */
}
.img_post_h1 {
	height: 12vw;
}
.img_post_h2 {
	height: 13.6vw;
}
.img_post_h3 {
	height: 9.58vw;
}
.img_post_h4 {
	height: 7.34vw;
}
.img_post_h5 {
	height: 19vw;
}
.img_post_h6 {
	height: 8.75vw;
}
.img_post_h7 {
	height: 13.8vw;
}
.about_post {
	padding: 1vw;
	border-bottom: 1px solid #e4e4e4;
}
.about_post h2 {
	color: #242424;
	font-size: 0.93vw;
	margin-bottom: 0.78vw;
	font-weight: 400;
}
.info_post {
	padding: 1vw;
}
.info_post svg {
	height: 0.83vw;
	fill: #9c9c9c;
	margin-right: 0.5vw;
}
.com_post {
	margin-right: 1vw;
}
.single_link a {
	position: relative;
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.single_link a svg {
	position: absolute;
	fill: #fff;
	width: 3vw;
	height: 3vw;
	top: calc(50% - 1vw);
	left: calc(50% - 1vw);
	z-index: 1;
	opacity: 0;
}
.single_link a:hover svg {
	opacity: 1;
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}
.single_link a img {
	position: relative;
	z-index: 0;
	height: 100%;
	width: 100%;
}
.another {
	background-color: #1ab5b3;
	color: #fff;
	padding: 2vw 1.5vw;
	font-size: 0.72vw;
}
.another h3 {
	font-size: 0.72vw;
	font-weight: 400;
	margin-bottom: 0.72vw;
}
.another a {
	color: #fff;
	text-decoration: underline;
	flex-flow: column;
	font-style: italic;
}
.post_form {
	background-color: #242b2e;
}